.Modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContainer {
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid black;
  position: relative;
}
.dataContainer {
  display: flex;
  gap: 50px;
}
.dataContainer .image {
  width: 200px;
  height: 300px;
}
.dataContainer img {
  width: 100%;
}
.dataContainer .text .imageChoice img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.modalContainer button {
  position: absolute;
  bottom: 20px;
}
